[submodule "vim-plugins/vim-fswitch"]
	path = vim-plugins/pack/myplugins/start/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "vim-plugins/nerdtree"]
	path = vim-plugins/pack/myplugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plugins/pack/myplugins/start/fzf.vim"]
	path = vim-plugins/pack/myplugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim-plugins/pack/myplugins/start/fzf"]
	path = vim-plugins/pack/myplugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim-plugins/pack/myplugins/start/YouCompleteMe"]
	path = vim-plugins/pack/myplugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim-plugins/pack/myplugins/start/tagbar"]
	path = vim-plugins/pack/myplugins/start/tagbar
	url = https://github.com/preservim/tagbar.git
